{% extends 'tracks/base.html' %}

{% block song_content %}
    <div class="container all-font">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="song-form">
                
                <div class="">
                    {% if form.errors %}
                        {% for er in form.errors %}
                            <p class="bg-light text-danger">Error: {{ er }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                {# {{ form }} #}
                
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mx-1 my-1">
                            <div class="form-group">
                                <dl>
                                    <label>{{ form.title.label_tag }}</label><br>
                                    {{ form.title }}
                                </dl>
                            </div>
                            <div class="form-group">
                                <dl>
                                    <label>{{ form.artiste.label_tag }}</label><br>
                                    {{ form.artiste }}
                                </dl>
                            </div>
                            <div class="form-group">
                                <dl>
                                    <label>{{ form.song_cover.label_tag }}</label><br>
                                    {{ form.song_cover }}
                                </dl>
                            </div>
                            <div class="form-group">
                                <dl>
                                    <label>{{ form.audio_file.label_tag }}</label><br>
                                    {{ form.audio_file }}
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mx-1 my-1">
                            <div class="form-group">
                                <dl>
                                    <label>{{ form.genre.label_tag }}</label><br>
                                    {{ form.genre }}
                                </dl>
                            </div>
                        </div>
                        <div class="mx-1 my-1">
                            <div class="form-group">
                                <dl>
                                    <label>{{ form.lyric.label_tag }}</label><br>
                                    {{ form.lyric }}
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mx-1 my-1">
                            <div class="form-group">
                                <dl>
                                    <dt>Song Cover</dt>
                                    <div class="song-cover">
                                    </div>
                                    <dt><label>{{ form.description.label_tag }}</label><br></dt>
                                    {{ form.description }}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            
                <input type="submit" value="Upload" class="btn btn-primary form-control" />
        
            </div>
            
        </form>
    </div>
{% endblock %}


