*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --brand-blue: rgb(136, 158, 255);
    --brand-red: rgb(255, 100, 100);
}

.nav-link, .navbar-brand{
    font-size: 1.2rem;
    color: var(--brand-blue)!important;
}

.nav-link:hover{
    color: var(--brand-red)!important;
}

.log-text{
    color: green;
    text-decoration: none;
}
.slide-row{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: -webkit-linear-gradient(120deg, rgb(223, 127, 104), rgb(139, 37, 126), rgb(29, 29, 133));
    background-image: -moz-linear-gradient(120deg, rgb(223, 127, 104), rgb(139, 37, 126), rgb(29, 29, 133));
    background-image: linear-gradient(120deg, rgb(223, 127, 104), rgb(139, 37, 126), rgb(29, 29, 133))
    !important;
}
.hero-text h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.pb-container {
    width: 100%;
    background-color: rgb(212, 212, 212);
    height: 5px;
    min-height: 5px;
    border-radius: 2px;
    border-bottom: rgb(160, 160, 160) 1px solid;
  }
  
  .progressbar {
    width: 0%;
    height: 4px;
    background-color: cornflowerblue;
    border-radius: 2px;
    border-top: rgb(231, 221, 177) 1px solid;
  }





